@import "../../global.css";
.intro{
    background-color: var(--navyBlue);
    top: 70px;
    display: flex;
    position: relative;
    height: calc(100vh - 70px);
}
.intro .left{
    flex: 0.5;
}
.intro .left .wrapper{
    color: white;
    height: 100%;
    padding-left: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro .left .wrapper h3{
    color: var(--lightGreen);
    letter-spacing: -0.5px;
}
.intro .left .wrapper h1{
    font-size: 36px;
    font-family: 'Oswald';
    letter-spacing: -1.2px;
}
.intro .left .wrapper .span{
    font-family: 'Lato';
    font-weight: 900;
    background: linear-gradient(-183deg,var(--lightGreen),white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
}
.intro .left .wrapper h4{
    color: var(--lightGray);
}
.intro .left .wrapper h4 span{
    color: var(--lightWhite)
}
.intro .left .wrapper a{

    border-radius: 16px;
    /* z-index: -1; */
}

.btn{
    position: relative;
    display: inline-flex;
    height: 60px;
    width: 200px;
    border-radius: 5px;
    margin-top: 26px;
    overflow: hidden;
    border-radius: 22px;
    transition: all .4s;
    background-color: var(--lightGreen);
}
.inner{
    position: absolute;
    width: 300%;
    height: 100%;
    left: -100%;
    z-index: -1;
    transition: all .4s;
}
.left .btn a{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    text-align: center;
    padding: 15px 0;
    font-weight: 900;
    text-transform: uppercase;
}
.btn:hover{
    transform: scale(1.03);
}
.btn:hover .inner{
    left: 0;
}
.btn .inner{
    background: -webkit-linear-gradient(right, var(--lightGreen),var( --lightGray),#0073de);
}
.intro .right{
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro .right img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
.intro .right img {
    animation: imag 4s linear infinite;
}
@keyframes imag{
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}


@media (max-width: 992px) {
    .intro .left .wrapper {
        padding-left: 12%;
    }
    .intro .right img {
        width: 381px;
        height: 428px;
    }
    button{
        font-weight: 500;
        font-size: 15px;
    }
    .btn{
        height: 54px;
        width: 181px;
    }
}
@media (max-width: 768px) {
    .intro{
        display: grid;
        grid-template-rows: repeat(auto-fill, minmax(360px, 1fr));
    }
    .intro .left .wrapper{
        padding-left: 9%;
    }
    .intro .left .wrapper h4{
        padding-bottom: 2%;
    }
    .intro .right img {
        width: 258px;
        height: 270px;
        position: relative;
        top: -35px;
        object-fit: cover;
    }
    .intro .right img {
        animation: imag 3s linear infinite;
    }
    @keyframes imag{
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(10px);
        }
        100%{
            transform: translateY(0px);
        }
    }
    .btn{
        height: 35px;
        width: 150px;
    }
    button{
        font-weight: 100;
        font-size: 10px;
    }
}
@media (max-width: 500px) {
    .intro{
        width: 375px;
    }
    .left .btn a{
        padding: 5px 0;
        font-weight: 600;
        font-size: 16px;
    }
}
@media (max-width: 360px) {
    .intro .right{
        z-index: 1;
    }
    .intro .right img {
        animation: none;
        width: 240px;
        transform: translateY(12px);
        height: 248px;
    }
}