@import '../../global.css';
.testimonials{
    padding: 3% 15% 5% 15%;
    background-color: var(--navyBlue);
    color: white;
}
.testimonials ul {
    display: flex;
    justify-content: center;
    height: 70px;
}
.testimonials ul li {
    padding-right: 40px;
}
.testimonials ul li img{
    width: 100%;
    height: 30%;
}
.testemonials .testpara{

    margin: 41px 0;
}
.testemonials p{
    width: 32%;
}
p a{
    color: var(--lightGreen);
}

.testimonials .buttom{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
}
@media (max-width: 992px) {
    .testimonials .buttom {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        margin: 5% 0;
    }
}
@media (max-width: 768px){
    .testimonials ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(83px, 1fr));
        row-gap: 15px;
        margin: 50px 10px;
        height: 130px;
    }
    .testimonials ul li img {
        width: 100%;
        height: 60%;
    }
    .testimonials .buttom{
        display: grid;
        margin: 16% 0;
        grid-gap: 25px;
        grid-template-columns: repeat(auto-fill, minmax(169px, 1fr));
    }
}
