:root {
    --lightGreen: rgb(21, 181, 114, 1);
    --green:rgb( 17, 26, 1);
    --lightOrange: rgb(249, 77, 30, 1);
    --lightBlue: rgb(166, 177, 187, 1);
    --navyBlue:rgb(7, 17, 26, 1);
    --lightGray:rgb(151 148 148);
    --lightWhite:#e2dede;
}

